
body{
  color: #4B0082;
}

strong{
  color: red;
}
a{
  color: red;
}

.header{
  text-align: center;
  display: flex;
  align-items: center;
}

.header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin-right: 30px;
}

.header li:hover{
  color: red;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: red;
}

.header li{
  padding:10px;
  margin:10px;
}

.button{
  display: none;
}

.banner{
  background-image: url("banner.jpg");
  background-position: center;
  background-size:cover;
  height: 400px;
  margin-bottom: 5%;
}

.banner h2{
  text-align: center;
  color: #ffffff;
  margin-top: 15%;
}

.aside{
  background-color: #D3D3D3;
  height: 50%;
  margin-top:5%;
}

.aside form{
  display: flex;
  flex-direction: column;
}

.slideshow div{
  width: 100%;
}

.slick img{
  width: 100%;
  height: auto;
}

.footer ul{
  list-style: none;
}

.social{
  display: flex;
  flex-direction:row;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sub-banner{
  background-color: #D3D3D3;
}

@media only screen and (max-width:1000px){
  nav{
    display: none;
  }

  .button{
    display: initial;
  }

}
